<div class="row">
  @for (product of list$ | async; track product.id ) {
  <div class="col-4">
    <div class="card"
         style="width: 18rem;">
      <img [src]="product.image"
           class="card-img-top"
           [alt]="product.title">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}
        </p>
        <a href="#"
           class="btn btn-primary"
           [appBuyProduct]="product.id">Buy</a>
      </div>
    </div>
  </div>
  }
</div>